/dts-v1/;

#include "mt7628an.dtsi"
#include <dt-bindings/input/input.h>

/ {
	compatible = "ralink,mt7620a-soc";
	model = "TP-Link Archer C50";

	aliases {
		label-mac-device = &ethernet;
	};

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	palmbus@10000000 {
		gpio2: gpio@660 {
			status = "okay";
		};

		gpio3: gpio@688 {
			status = "okay";
		};

		spi@b00 {
			status = "okay";

			m25p80@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "en25q64";
				reg = <0 0>;
				linux,modalias = "w25q64", "w25q128", "w25q256";
				spi-max-frequency = <10000000>;

				partition@0 {
					label = "f-boot";
					reg = <0x0 0x30000>;
					read-only;
				};

				partition@30000 {
					label = "u-boot";
					reg = <0x30000 0x20000>;
					read-only;
				};

				partition@50000 {
					label = "firmware";
					reg = <0x50000 0xf70000>;
				};

				partition@7c0000 {
					label = "config";
					reg = <0xfc0000 0x10000>;
				};

				rom: partition@7d0000 {
					label = "rom";
					reg = <0xfd0000 0x10000>;
				};

				partition@7e0000 {
					label = "romfile";
					reg = <0xfe0000 0x10000>;
				};

				radio: partition@7f0000 {
					label = "radio";
					reg = <0xff0000 0x10000>;
				};
			};
		};
	};

//	memory@0 {
//		device_type = "memory";
//		reg = <0x0 0x10000000>; //256MB RAM
//		reg = <0x0 0x8000000>; //128MB RAM
//		reg = <0x0 0x4000000>; //64MB RAM
//	};

	pinctrl {
		state_default: pinctrl0 {
			gpio {
				ralink,group = "i2c", "uartf", "rgmii1", "rgmii2", "wled", "nd_sd";
				ralink,function = "gpio";
			};
		};
	};

	ethernet@10100000 {
		pinctrl-names = "default";
		pinctrl-0 = <&ephy_pins>;

		mtd-mac-address = <&rom 0xf100>;
		ralink,port-map = "wllll";
	};

	gsw@10110000 {
		ralink,port4 = "ephy";
	};

	wmac@10180000 {
		ralink,mtd-eeprom = <&radio 0>;
	};

	pcie@10140000 {
		status = "okay";

		pcie-bridge {
			mt76@0,0 {
				reg = <0x0000 0 0 0 0>;
				device_type = "pci";
				mediatek,mtd-eeprom = <&radio 32768>;
				mediatek,2ghz = <0>;
			};
		};
	};


	gpio-leds {
		compatible = "gpio-leds";

		system {
	                label = "mediatek:green:system";
			gpios = <&gpio1 5 1>;
	                default-state = "off";
	        };
		
                wifi {
                        label = "mediatek:green:wifi";
                        gpios = <&gpio1 7 1>;
                        default-state = "off";
                };

                wan {
                        label = "mediatek:green:wan";
                        gpios = <&gpio1 11 1>;
                        default-state = "off";
                };

		
                lan1 {
                        label = "mediatek:green:lan";
                        gpios = <&gpio1 10 1>;
                        default-state = "off";
                };

                lan2 {
                        label = "mediatek:green:wan2";
                        gpios = <&gpio1 8 1>;
                        default-state = "off";
                };

        };

        gpio-keys-polled {
                compatible = "gpio-keys-polled";
                #address-cells = <1>;
                #size-cells = <0>;
                poll-interval = <20>;

                button_1 {
                        label = "button_1";
                        gpios = <&gpio1 6 0>;
                        linux,code = <0x101>;
                };

                button_2 {
                        label = "button_2";
                        gpios = <&gpio1 9 0>;
                        linux,code = <0x102>;
                };
        };

};
